:root {
	--color-background: #1d1d1d;
	--color-foreground: #f1f1f1;
	--color-transparent-bg: #0f0f0f4d;
}

@font-face {
	font-family: "Nugo Sans";
	src: url("/assets/nugo-sans-font/NugoSansLight-9YzoK.ttf");
}

* {
	color: var(--color-foreground);
	font-family: "Nugo Sans";
	margin: 0;
	padding: 0;
}

#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	/* Add your background pattern here */
	background-color: var(--color-background);
	background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px,
			transparent 0);
	background-size: 30px 30px;
	background-position: -5px -5px;
	z-index: -1;
}

#app {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: grid;
	background-color: transparent;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 45vw;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-foreground);
	border-radius: 20px;
	background-color: var(--color-background);
	color: var(--color-foreground);
	margin: 20px;
	box-shadow:
		rgba(100, 180, 255, 0.4) 5px 5px,
		rgba(100, 180, 255, 0.2) 10px 10px,
		rgba(100, 180, 255, 0.05) 15px 15px;
}

#logo {
	width: 30px;
	object-fit: cover;
	border-radius: 50%;
}

.pfp {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	background-color: var(--color-foreground);
}

.me-image {
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin: 0;
}

#email-icon {
	background-color: var(--color-foreground);
}

nav a {
	position: relative;
	margin: 0 20px;
}

.navbar-link {
	text-decoration: none;
	padding: 10px;
}

.navbar-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 0;
	height: 1px;
	background: currentColor;
	transition: width 0.1s ease-in;
}

.navbar-link:hover::after {
	width: 100%;
}

/* -- HOME -- */
.hello {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
	border-radius: 20px;
}

.micro-description,
.me-image {
	padding: 1rem;
}

.micro-description {
	margin: 10;
}

.home-title,
.home-description {
	margin: 10px;
}

.socials * {
	margin: 0 5px;
}

.detailed-description {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detailed-description p {
	width: 80%;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.detailed-description div {
	width: 80%;
	padding: 1rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.skills-div {
	background-color: var(--color-background);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-foreground);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: 20px;
	gap: 5px;
	transition: all 0.25s ease-in;
}

.skills-div:hover {
	transform: scale(1.05);
	opacity: 0.8;
}

.skills-item {
	margin: 0.2em;
}

.skills-list-exp {
	margin: 0.4em;
}

/* -- PROJECTS -- */
#projects {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50vw;
	margin: 0 auto;
	flex-wrap: wrap;
}

.project-card {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-background);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-foreground);
	border-radius: 20px;
	transition: all 0.1s ease-in;
	margin: 10px;
	padding: 1rem;
	height: 400px;
}

.project-image {
	object-fit: cover;
	border-radius: 20px;
	width: 100%;
	background-color: var(--color-foreground);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.project-card * {
	margin: 10px;
}

.project-card:hover {
	transform: scale(1.05);
	opacity: 0.8;
}

/* -- CONTACT -- */

.contact-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	background-color: var(--color-background);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-foreground);
	border-radius: 20px;
	margin: 40px;
}

.contact-cards {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.contact-page h2 {
	margin-top: 20px;
	padding-left: 1rem;
}

.contact-link {
	display: flex;
	align-items: center;
	margin: 10px;
	gap: 10px;
}

/* -- NOT FOUND -- */

#not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
